<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" rel="stylesheet"/>
<script src="~/js/jquery.min.js"></script>
<link href="~/css/custom/Profile.css" rel="stylesheet"/>
<script src="~/js/custom/Profile.js"></script>
<script src="~/js/custom/LoadTimer.js"></script>

<!--User Profile -->
<div class="container mt-5 mb-5">
            <div class="row no-gutters">
                <div class="col-md-12 col-lg-12">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row align-items-center p-5 text-black" style="border-top-left-radius:0.5rem; border-top-right-radius:0.5rem; background-color:#708090">
                            <h3 class="display-5" id="UName"></h3>
                            <a class="btn" asp-controller="User" asp-action="EditDetails"  style="text-decoration:none; margin-left:700px;"><span class="fa-solid fa-pen text-white" data-toggle="tooltip" data-original-title="Edit your Profile"></span></a>
                        </div>
                        <div class="p-3 text-black row" style="margin-left: 0px;margin-right: 0px; border-color:#708090; border-left:1px solid; border-right:1px solid;">
                            <div class="p-3 bg-white text-black col-md-8" style="padding: 0.5rem !important; color:black!important"> 
                                <h6 style="color:black!important"><i class="fa-solid fa-envelope" style="padding-right:10px;"></i><span id="UEmail"></span></h6>
                            </div>
                            <div class="p-3 bg-white text-black col-md-4" style="padding: 0.5rem !important;"> 
                                <h6 style="color:black!important"><i class="fa-solid fa-phone" style="padding-right:10px;"></i><span id="UPhone"></span></h6>
                            </div>
                            <div class="p-3 bg-white text-black col-md-12" style="padding: 0.5rem !important;"> 
                                <h6 style="color:black!important"><i class="fa-solid fa-location-dot" style="padding-right:10px;"></i><span id="ULocation"></span></h6>
                            </div>
                        </div>
                        <div class="d-flex flex-row text-white">
                            <div class="p-4 bg-primary text-center skill-block" style="border-bottom-left-radius:0.5rem;">
                                <button class="btn text-white" onclick="return myProductsdisplay();" style="font-weight:bold;">My Products</button>
                                <h4 id="UPCount">0</h4>
                            </div>
                            <div class="p-3 bg-success text-center skill-block">
                                <button class="btn text-white" onclick="return myIntrestsdisplay();" style="font-weight:bold;">My Interests</button>
                                <h4 id="UICount">0</h4>
                            </div>
                            <div class="p-3 bg-success text-center skill-block">
                               <button class="btn text-white" onclick="return myBidsdisplay();" style="font-weight:bold;">My Bids</button>
                                <h4 id="UBCount">0</h4>
                            </div>
                            <div class="p-3 bg-warning text-center skill-block">
                                <button class="btn text-white" onclick="return mySoldProductsdisplay();" style="font-weight:bold;">Sold Products</button>
                                <h4 id="USPCount">0</h4>                                
                            </div>
                            <div class="p-3 bg-danger text-center skill-block">
                                <button class="btn text-white" onclick="return myPurchasesdisplay();" style="font-weight:bold;">My Purchases</button>
                                <h4 id="UPPCount">0</h4>
                            </div>
                            <div class="p-3 bg-warning text-center skill-block" style="border-bottom-right-radius:0.5rem;">
                               <button class="btn text-white" onclick="return myTransactionsdisplay();" style="font-weight:bold;">My Payments</button>
                                <h4 id="UTCount">0</h4>
                            </div>
                      </div>
               </div>
         </div>
    </div>
</div>

<!--My Products -->
<div class="container">
        <div class="row" id="myProducts">
        </div>
    </div>

<!-- My Intrests-->
<div class="container">
    <div class="row" id="myIntrests">
    </div>
</div>
<!-- My Bids-->
<div class="container">
    <div class="row" id="myBids">
    </div>
</div>
<!-- Sold Products-->
<div class="container">
    <div class="row" id="soldProducts">
    </div>
</div>
<!-- My Purchases-->
<div class="container">
    <div class="row" id="myPurchases">
        @*<h4 class="section-title px-5"><span class="px-2">My Purchases</span></h4>*@
    </div>
</div>
<!-- My Transactions -->
<div class="container">
    <div class="row" id="myTransactions">
    </div>
</div>
<!-- Modal PopUp-->
<div>
     <div class="modal fade" id="transactionmodal" data-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body">Shipping Price of Rs.500 will be added....</div>
				  <div class="modal-body" id="currentpricepopup"></div>
                  <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                    <a class="btn btn-primary" asp-controller="Product" asp-action="ProductBill">Continue</a>
                  </div>
                </div>
              </div>
       </div>
</div>

<div class="modal fade" id="editproductmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You want to delete the product...!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" onclick="return deletepro();">Yes</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.table2excel.min.js"></script>